name: OpenSSF Scorecard

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "0 6 * * 1"

permissions:
  contents: read

jobs:
  scorecard:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write  

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Scorecard
        id: scorecard
        uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: scorecard.sarif
          results_format: sarif
          publish_results: false  

      - name: Upload to code scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: scorecard.sarif
